.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #222831;
    height: 150px;
    width: 200px;
    font-size: 14px;
    text-align: center;
}

.delete-checkbox {
    position: absolute;
    top: 5px;
    left: 5px;
}